/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Raleway', Helvetica, Arial, sans-serif;
background-color: #FEF3CC;
color: #2DB6A3;
text-align: center;
min-height: 100vh;
position: relative;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ESTILOS BÁSICOS */
header {
background-color: #2DB6A3;
color: white;
padding: 1em;
border-bottom: 15px solid #0DA792;
position: absolute;
top: 0;
z-index: 1;
width: 100%;
}
h1 {
font-size: 3rem;
}
h2 {
font-size: 2.5rem;
}
h3 {
font-size: 1.5rem;
}
h4 {
font-size: 1.5rem;
}
.lead {
max-width: 660px;
margin: 2em auto 1em;
font-size: 120%;
}
form.navbar-form {
display: flex;
align-items: center;
    padding-right: 0;
}
label {
display: block;
font-weight: 800;
color: #FCCF4D;
margin: 0 0 .5em;
float: left;
}
input, select, .form-inline .form-control {
width: 100%;
border-radius: 3px;
border: 1px solid #fff;
line-height: 120%;
padding: 1%;
font-size: 120%;
transition: .5s ease all;
background: rgba(255,255,255,.9);
}
input::placeholder {
color: gray;
}
.btn {
font-weight: 800;
color: #fff;
background-color: #FCCF4D;
letter-spacing: 1px;
transition: .5s ease all;
border-color: #FCCF4D;
}
.btn:hover, .btn:active, .btn:focus {
background-color: #FFC91B;
transition: .5s ease all;
color: #fff;
border-color: #FFC91B;
}
p {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
display: block;
margin: 1em 0;
line-height: 1.4;
text-align: justify;
}
span {
border-bottom: 2px #FCCF4D solid;
font-weight: 700;
}
b {
font-weight: 800;
color: #FCCF4D;
}
small {
font-size: .8rem;
}
footer {
display: block;
width: 100%;
margin: 0;
padding: 0 0 2em;
overflow: hidden;
position: fixed;
bottom: 0;
}
/*INPUT CHECK*/
input[type|=check] {
display: inline-block;
width: auto;
}
label[for|=check] {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
font-weight: normal;
display: inline-block;
}
/* INPUT NUMBER SIN FLECHAS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

/* Especial */
.navbar {
    margin: 0;
}
.logo {
display: flex;
align-items: center;
}
.logo img {
width: 70px;
height: 70px;
margin-right: 10px;
}
#app {
    height: 100vh;
    position: relative;
}
#map {
width: 100%;
height: 100vh;
border: 5px solid #FCCF4D;
border-radius: 5px;
}
.navbar-collapse {
    padding: 1em 0 0;
    border-color: transparent;
}
.navbar-form .form-group {
    margin-bottom: 0;
    margin-right: 5px;
}